<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header th:replace="fragments/fragmentos :: headerEditform"></header>

    <section class="section">
        <h1> LISTADO DE ALUMNOS </h1>
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Domicilio</th>
              <th scope="col">Libreta Universitaria</th>
              <th scope="col">Edición</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="alumno : ${listadoAlumnos}">
              <td th:text="${alumno.dni}"></td>
              <td th:text="${alumno.nombre}"></td>
              <td th:text="${alumno.apellido}"></td>
              <td th:text="${alumno.email}"></td>
              <td th:text="${alumno.telefono}"></td>
              <td th:text="${#dates.format(alumno.fechaNacimiento, 'dd/MM/yyyy')}"></td>
              <td th:text="${alumno.domicilio}"></td>
              <td th:text="${alumno.LU}"></td>
              <td>
                <a th:href="@{'/borrarAlumno/' + ${alumno.dni}}" class="btn btn-danger">Borrar</a>                    
                <a th:href="@{'/modificarAlumno/' + ${alumno.dni}}" class="btn btn-warning">Modificar</a>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
    </section>

    <footer th:replace="fragments/fragmentos::footerEdit" class="container-fluid mt-4"></footer>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>
