<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docentes</title>
    <link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header th:replace="fragments/header::headerEdit"></header>

    <section class="section">
		<h1> LISTADO DE DOCENTES </h1>
		<table class="table table-striped text-center">
		  <thead>
			<tr>
			  <th scope="col">Legajo</th>
			  <th scope="col">Nombre</th>
			  <th scope="col">Apellido</th>
			  <th scope="col">Email</th>
			  <th scope="col">Telefono</th>
			  <th scope="col">Edicion</th>
			</tr>
		  </thead>
		  <tbody>
			<tr data-th-each="docente : ${listadoDocentes}">
			  <td data-th-text="${docente.legajoDTO}"></td>
			  <td data-th-text="${docente.nombreDTO}"></td>
			  <td data-th-text="${docente.apellidoDTO}"></td>
			  <td data-th-text="${docente.emailDTO}"></td>
			  <td data-th-text="${docente.telefonoDTO}"></td>
				  <td>
					<a data-th-href="@{'/borrarDocente/'+${docente.legajoDTO}}" class="btn btn-danger">Borrar</a>					
					<a data-th-href="@{'/modificarDocente/'+${docente.legajoDTO}}" class="btn btn-warning" >Modificar</a>
				</td>
			</tr>
		   </tbody>
		</table>
		<br>
	</section>

    <footer th:replace="fragments/footer::footerEdit" class="container-fluid mt-4"></footer>

    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>
