<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Formulario Materia</title>
</head>
<body>
    <header th:replace="fragments/fragmentos :: headerEditform"></header>
    <section class="section">
        <h1>FORMULARIO MATERIA</h1>
        <div class="justify-content-center text-center">
            <form th:object="${nuevaMateria}" th:action="${flag} ? @{/modificarMateria} : @{/guardarMateria}" method="post">
                <div class="col-sm-6">
                    <label for="legajo" class="form-label">Legajo</label>
                    <input type="text" class="form-control" id="legajo" th:field="*{legajo}" th:readonly="${flag}" required>
                </div>
                <div class="col-sm-6">
                    <label for="nombre" class="form-label">Nombre Materia: </label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
                </div>
                <div class="col-sm-6">
                    <label for="curso" class="form-label">Curso: </label>
                    <input type="text" class="form-control" id="curso" th:field="*{curso}" required>
                </div>
                <div class="col-sm-6">
                    <label for="cantidadHoras" class="form-label">Cantidad de Horas: </label>
                    <input type="text" class="form-control" id="cantidadHoras" th:field="*{cantidadHoras}" required>
                </div>
                <div class="row mb-3 justify-content-center col-3">
                    <label for="modalidad" class="form-label">Modalidad: </label>
                    <select class="form-select" th:field="*{modalidad}" required>
                        <option th:value="VIRTUAL" th:text="#{materia.modalidad.virtual}">Virtual</option>
                        <option th:value="PRESENCIAL" th:text="#{materia.modalidad.presencial}">Presencial</option>
                    </select>
                </div>
                <div class="row mb-3 justify-content-center col-3">
                    <label for="estado" class="form-label">ESTADO: </label>
                    <select class="form-select" th:field="*{estado}" required>
                        <option th:value="true" th:text="#{materia.estado.activo}">Activo</option>
                        <option th:value="false" th:text="#{materia.estado.inactivo}">Inactivo</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-3" th:text="${flag} ? 'Modificar' : 'Guardar Materia'">Guardar</button>
            </form>
            <br>
        </div>
        <br>
    </section>
    <footer th:replace="fragments/fragmentos::footerEdit" class="container-fluid"></footer>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
